* {
    box-sizing: border-box;
}
body {
    background-color: rgb(185, 185, 185);
    height: 145vh;
    position: relative;
}
header {
    display: flex;
    justify-content: space-between;
    min-height: 10px;
    margin: 20px;
    padding: 20px;
    background-color: white;
    align-items: center;
    font-size: 14px;
}

nav a:hover {
    color: rgb(6, 158, 82);
}
a {
    text-decoration: none;
    color: black;
}
.logo {
    font-family: Arial;
    font-style: italic;
    margin:auto;
    font-size: 18px;
}
.logo b {
    font-style: normal;
}
.botonI {
    padding-right: 20px;
    padding-left: 20px;
}
.botonD {
    padding-right: 20px;
    padding-left: 20px;
}

.chat {
    background: rgb(218, 207, 201);
    height: 40px;
    width: 130px;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    position: fixed;
    top: 95.5%;
    left: 90%;
}
.msg {
    margin-left:50px;
}


@media (max-width:1050px) {
    header {
        flex-direction: column;
    }
    nav {
        padding: 10px 0px;
    }
}