@media (max-width: 767px) {     /*  CELULAR  */

}
@media (min-width: 768px) and (max-width:990px){        /*  TABLET  */

}
@media (min-width:991px) and (max-width: 1440px){       /*  LAPTOP  */
    * {
        box-sizing: border-box;
    }
    body {
        margin: 0;
        padding: 0;
    }
    .pagina {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    /* CARA 1 */
    .cara1 {
        background-color: rgb(185, 185, 185);
        height: 620px;
    }
    .pantallas {
        position: absolute;
        display: flex;
        height: 620px;
        width: 100%;
    }
    .pantalla1 {
        position: relative;
        width: 50%;
        height: 100%;
    }
    .pantalla2 {
        position: relative;
        width: 50%;
        height: 100%;
    }
    nav a:hover {
        color: rgb(6, 158, 82);
    }
    a {
        text-decoration: none;
        color: black;
    }
    .cabeza {
        background-color: white;
        position: relative;
        display: flex;
        align-items: center;
        margin: 20px;
        height: 60px;
    }
    nav {
        display: flex;
        width: 50%;
    }
    .botonesIzquierdos {
        display: flex;
        align-items: center;
        justify-content: space-around;
        font-size: 13px;
        width: 80%;
    }
    .botonesDerechos {
        width: 100%;
        font-size: 13px;
        display: flex;
        align-items: center;
        justify-content: end;
    }
    .compra {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 6%;
    }
    .carrito {
        margin-right: 10px;
    }
    .botonI {
        margin-left: 7%;
    }
    .botonD {
        margin-right: 10%;
    }
    .logo a{
        font-family: Arial;
        font-size: 20px;
        font-style: italic;
    }
    .logo b {
        font-style: normal;
    }
    .relleno11{
        position: relative;
        margin-top: 7%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .cuadro11 {
        position: relative;
        left: 15%;
        height: 250px;
        width: 260px;
    }
    .mensaje11 {
        margin: 0;
        font-size: 52px;
    }
    .submensaje11 {
        width: 230px;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .linka {
        text-decoration: underline;
        font-size: 20px;
    }
    /* CARA 1 */
    
    /* CARA 2 */
    .relleno12 {
        position: relative;
        display: flex;
        background-color: white;
        box-sizing: border-box;
        height: 730px;
    }
    .cuadro12 {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        width: 40%;
        margin-left: 4.3%;
        margin-top: 10px;
    }
    .cuadro12 a, .cuadro13 a{
        font-size: 11px;
    }
    .img12 {
        background-color: rgb(185, 185, 185);
        height: 630px;
        width: 100%;
    }
    .mensaje12 {
        margin-top: 10px;
        margin-bottom: 0;
        font-size: 20px;
    }
    .cuadro13 {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        width: 40%;
        height: 600px;
        margin-top: 10px;
        margin-left: 12%;
    }
    .img13 {
        height: 450px;
        width: 100%;
    }
    .mensaje13 {
        font-size: 20px;
        margin-top: 10px;
        margin-bottom: 0;
    }
    /* CARA 2 */
    
    /* CARA 3 */
    .cara3 {
        background-color: rgb(10, 135, 144);
        box-sizing: border-box;
        display: flex;
        position: relative;
        height: 686px;
    }
    .ladoder {
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .img14 {
        width: 100%;
        height: 100%;
    }
    .ladoizq {
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 24%;
        font-size: 13px;
    }
    .ladoizq a{
        margin-top: 20px;
        font-size: 13px;
    }
    .txtimg {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .txtimg img {
        width: 80%;
    }
    .txtimg p {
        position: absolute;
        font-size: 40px;
        color: white
    }
    /* CARA 3 DE LA PAGINA 1 */
    
    /* CARA 4 DE LA PAGINA 1 */
    .cara4{
        background-color: white;
        height: 670px;
        width: 100%;
    }
    .relleno13 {
        position: relative;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: auto;
        margin-top: 75px;
        height: 610px;
        width: 100%;
    }
    .siguenos {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 0;
        margin-bottom: 70px;
        font-size: 22px;
    }
    .grupoimg {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 45%;
        margin-bottom: 30px;
    }
    .img16 {
        height: 100%;
        width: 20%;
        display: flex;
        flex-wrap: wrap;
    }
    .contenedor1 {
        box-sizing: border-box;
    }
    .estil {
        position: relative;
        margin-top: 30px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .stylee {
        margin-top: 0;
        font-size: 25px;
        margin-bottom: 0;
    }
    .suscribete {
        width: 100%;
        font-size: 14px;
        margin-top: 0;
        display: flex;
        justify-content: center;
    }
    .iemail {
        margin-top: 0;
        font-size: 14px;
    }
    .form {
        margin-top: 30px;
        position: relative;
        display: flex;
        flex-direction: column;
        height: 10%;
        width: 20%;
    }
    .formario {
        display: flex;
        align-items: center;
        position: relative;
    }
    .email {
        border-top: transparent;
        border-left: transparent;
        border-right: transparent;
        border-bottom: 1.4px solid black;
        background-color: transparent;
        font-size: 14px;
        margin-right: 20px;
    }
    .subs {
        border: none;
        background-color: transparent;
    }
    
    /* BARRA DE LINKS REDES */
    .contenedor {
        position: relative;
        display: flex;
        width: 100%;
        height: 170px;
        padding: 20px;        
    }
    .marcalinks {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 100%;
        width: 30%;
    }
    .total {
        position: relative;
        width: 80%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 0;
    }
    .total p {
        font-family: system-ui;
        font-weight: 100;
        margin-bottom: -10px;
        margin-top: 0;
        font-size: 40px;
        font-style: italic;
    }
    .total b {
        font-style: normal;
    }
    .iconosweb {
        position: relative;
        display: flex;
        justify-content: left;
        height: 100%;
        width: 100%;
        padding-top: 0;
        margin-top: 0;
    }
    .ig, .fb, .tt {
        margin-top: 0;
        padding-top: 0;
        width: 5%;
    }
    .info {
        position: relative;
        width: 45%;
        display: flex;
        justify-content: center;
        justify-content: space-evenly;
        }
    ul {
        padding: 0;
        margin:10px;
        list-style-type: none;
    }
    .ini::first-line, .contact::first-line, .servicio::first-line{
        font-size: 18px;
    }
<<<<<<< HEAD
    /* Patiadera */
=======

>>>>>>> 8f14308116af435f1ecd64fa25ce42952f12cf39
    .patiadera {
        background-color: rgb(190, 183, 178);
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        width: 113px;
        height: 40px;
        bottom: -1px;
        right: 14px;
        border-top-left-radius: 5%;
        border-top-right-radius: 5%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .mensajear {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 70%;
        height: 100%;
        justify-content: space-evenly;
    }
    .chatear {
        height: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .icomsg {
        height: 100%;
    }
    .lets a{
        color: white;
        font-size: 10px;
        display: flex;

    }
}




@media (min-width:1441px){      /*  PC  */
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        color: black;
    }
    body {
        padding: 0;
        margin: 0;
    }
    .pagina {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    a {
        text-decoration: none;
    }
    .cara1 {
        background-color: rgb(185, 185, 185);
        height: 868px;
    }
    .pantallas {
        position: absolute;
        display: flex;
        width: 100%;
        height: 868px;
    }
    .pantalla1 {
        position: relative;
        width: 50%;
        height: 100%;
    }
    .pantalla2 {
        position: relative;
        width: 50%;
        height: 100%;
    }
    .cabeza {
        position: relative;
        margin: 20px;
        padding: 10px;
        background-color: white;
        display: flex;
    }
    nav {
        width: 50%;
        display: flex;
        align-items: center;
    }
    nav a:hover {
        color: rgb(6, 158, 82);
    }
    .botonesIzquierdos {
        display: flex;
        width: 80%;
        justify-content: space-evenly;
    }
    .logo {
        font-family: Arial;
        font-size: 40px;
        font-style: italic;
    }
    .logo b {
        font-style: normal;
    }
    .botonI {
        font-size: 25px;
    }
    .botonesDerechos {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        justify-content: flex-end;
    }
    .botonD {
        margin-right: 50px;
        font-size: 25px;
    }
    .compra {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .carrito {
        position: relative;
        margin-right: 10px;
        width: 40px;
    }
    .relleno11 {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .relleno11 a {
        font-size: 23px;
    }
    .cuadro11 {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 20%;
        left: 360px;
        top: 300px;
    }
    .mensaje11 {
        font-size: 60px;
    }
    .submensaje11{
        font-size: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .linka {
        text-decoration: underline;
    }
}