* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: black;
    text-decoration: none;
}
nav a:hover {
    color: rgb(6, 158, 82);
}
.linka {
    text-decoration: underline;
}
body {
    background-color: white;
    padding: 20px;
    padding-bottom: 0;
}

/* CARA 1 DE LA PAGINA 3 */
.cara1 {
    height: 250px;
}
.cabeza {
    background-color: rgb(185, 185, 185);
    position: relative;
    display: flex;
    align-items: center;
    margin: 20px;
    height: 60px;

}
nav {
    display: flex;
    align-items: center;
    width: 50%;
}
.botonesDerechos {
    width: 100%;
    display: flex;
    justify-content: end;
}
.botonI {
    margin-left: 7%;
}
.botonD {
    margin-right: 10%;
}
.logo a{
    font-family: Arial;
    font-size: 20px;
    font-style: italic;
}
.logo b {
    font-style: normal;
}
.lorem {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* CARA 2 DE LA PAGINA 3 */
.cara2 {
    display: flex;
    width: 100%;
    margin-top: 1%;
    margin-bottom: 1%;
}
.lizq {
    width: 50%;
}
.lizq img {
    width: 100%;
}
.lder {
    background-color: rgb(10, 135, 144);
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.imgtxt {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2%;
}
.sobre {
    position: absolute;
    font-size: 50px;
    color: white;
}


/* CARA 3 DE LA PAGINA 3 */
.cara3 {
    display: flex;
    width: 100%;
    margin-top: 1%;
    margin-bottom: 1%;
}
.ldere {
    background-color: rgb(139, 91, 48);
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.txt2 p{
    color: white;
    font-size: 60px;
    width: 50%;
    margin-left: 5%;
}
.der {
    height: 30%;
}
.img3 {
    height: 100%;
    width: 40%;

    float: right;
}
.i3 {
    height: 90%;
    width: 100%;
}
.img3 p {
    color: white;
}

/* CARA 4 DE LA PAGINA 3 */
.cara4 {
    display: flex;
    position: relative;
    width: 100%;
    margin-top: 1%;
    margin-bottom: 1%;
}
.ladoI {
    background-color: rgb(139, 91, 48);
    width: 50%;
}
.ladoI p {
    margin: 10%;
    width: 200px;
    color: white;
}
.centro4 {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.img4 {
    height: 300px;
}
.ladoD {
    width: 50%;
}
.ladoD img {
    width: 100%;
}

/* CARA 5 DE LA PAGINA 3 */
.cara5 {
    display: flex;
    position: relative;
    width: 100%;
    margin-top: 1%;

}
.dlado {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}
.dlado img {
    position: relative;
    width: 100%;
}
.encima {
    position: absolute;
    height: 50%;
}
.img7 {
    height: 100%;
}

@media (max-width:1120px) {
    
    .cabeza {
        flex-direction: column;
        justify-content: center;
    }
    nav {
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        align-items: center;
    }
    .botonesDerechos {
        justify-content: center;
    }
    .botonI {
        margin-left: 0;
        height: 20px;
    }
    .botonD {
        margin: auto;
    }
}

.patiadera {
    bottom: 0;
    right: 20px;
    position: fixed;
}
.cuadromsg {
    background-color: rgb(167, 151, 140);
    height: 60px;
    width: 200px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-left: 40px;
    display: flex;
    align-items: center;
}
.msg {
    color: white;
    font-weight: 100;
    margin-left: 20px;
}
.icono {
    box-sizing: border-box;
    align-items: center;
}
.cuadrado {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-evenly;
    background-color: white;
    height: 15px;
    width: 20px;
    border-radius: 10%;
}
.triangulo {
    width: 0;
    height: 0;
    margin-left: 8px;
    border-top: solid white 2px;
    border-left: solid transparent 2px;
    border-bottom: solid transparent 0;
    border-right: solid transparent 2px;
}
.circulo {
    background-color: black;
    height: 2px;
    width: 2px;
    border-radius: 50%;
}